<a href="https://colab.research.google.com/github/UIJONGKI/test_project/blob/main/lesson_05_Pandas_1_Series%2C_generate%2C_index%2C_select.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas
    - 데이터 분석을 위한 python 라이브러리
    - R보다 Pandas의 학습, 성능, 활용분야 등이 좋음

    - Series와 DataFrame
        - Series : index와 value로 이루어짐
        - DataFrame : index, column, value로 이루어짐

### Series

In [1]:
import numpy as np
import pandas as pd

##### Series 선언

In [4]:
# blank
test = pd.Series((5, 7, 1, 6, 2))
test

0    5
1    7
2    1
3    6
4    2
dtype: int64

In [5]:
test2 = pd.Series({'Reinforcement learning': 'game AI',
 'Supervised learning': 'classification',
 'Unsupervised learning': 'clustering'})
test2

Reinforcement learning           game AI
Supervised learning       classification
Unsupervised learning         clustering
dtype: object

##### index(행) 이름 설정

In [6]:
# blank
test = pd.Series(np.random.randint(10, size=5), index=list('ABCDE'))
test

A    0
B    7
C    3
D    8
E    5
dtype: int64

In [7]:
test.index, test.values

(Index(['A', 'B', 'C', 'D', 'E'], dtype='object'), array([0, 7, 3, 8, 5]))

In [ ]:
# blank

a    10
b    10
c    10
d    10
e    10
dtype: int64

##### Series 데이터 선택

In [8]:
test['A']

0

In [10]:
test.B

7

##### Series Indexing

In [11]:
test[2:]

C    3
D    8
E    5
dtype: int64

In [13]:
test[::-1]

E    5
D    8
C    3
B    7
A    0
dtype: int64

### DataFrame
    - 여러개의 Series로 구성

##### 생성

###### dict안에 list로 value 생성

In [16]:
data = {
    "name":['Minhyeok', 'Seojun','Juyoung'],
    "class":['python', 'RNN','practice']    
       }
data

{'class': ['python', 'RNN', 'practice'],
 'name': ['Minhyeok', 'Seojun', 'Juyoung']}

In [18]:
df = pd.DataFrame(data)
df

       name     class
0  Minhyeok    python
1    Seojun       RNN
2   Juyoung  practice

##### index 추가

In [19]:
df = pd.DataFrame(data, index=list('abc'))
df

       name     class
a  Minhyeok    python
b    Seojun       RNN
c   Juyoung  practice

In [20]:
# blank
df.index

Index(['a', 'b', 'c'], dtype='object')

In [21]:
# blank
df.values

array([['Minhyeok', 'python'],
       ['Seojun', 'RNN'],
       ['Juyoung', 'practice']], dtype=object)

##### index 변경

In [22]:
# blank
df.index = ["1번", "2번", "3번"]
df

        name     class
1번  Minhyeok    python
2번    Seojun       RNN
3번   Juyoung  practice

#### DataFrame data선택
    - row, column 선택 방법

##### row 선택

In [23]:
# blank
df = pd.DataFrame(data)
df

       name     class
0  Minhyeok    python
1    Seojun       RNN
2   Juyoung  practice

In [25]:
df.loc[0]

name     Minhyeok
class      python
Name: 0, dtype: object

###### row 선택 후 특정 컬럼 선택

In [26]:
df.loc[0]["class"]

'python'

###### loc로 dataframe에 데이터 추가

In [29]:
df.loc[len(df)-1] = {"name":'Adrian', "class":"math"}
df

       name     class
0  Minhyeok    python
1    Seojun       RNN
2   Juyoung  practice
3    Adrian      math

##### column 선택

In [30]:
df['name']

0    Minhyeok
1      Seojun
2     Juyoung
3      Adrian
Name: name, dtype: object

###### DataFrame에서 column 리스트 확인

In [31]:
list(df.columns) # list 형변환은 보기 편하게 만들기 위해서

['name', 'class']

###### column 추가

In [32]:
df['age'] = [30, 15, 25, 40]
df

       name     class  age
0  Minhyeok    python   30
1    Seojun       RNN   15
2   Juyoung  practice   25
3    Adrian      math   40

In [34]:
df.dtypes

name     object
class    object
age       int64
dtype: object

##### row, column 선택

In [35]:
df.loc[2,'class']

'practice'

In [36]:
df.iloc[1,1] # index location (x.iloc[row index, column index])

'RNN'

##### dataframe 조건으로 선택

In [37]:
df[df['age']>25]

       name   class  age
0  Minhyeok  python   30
3    Adrian    math   40